


/*Footer START*/

.footer{
    a{
        margin-inline: 33px;
        color: #ECD9D9;
        font-size: 3rem;
    }
    
    a:hover{
        color: $purple;
    }
    
    p{
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.17px;
    }
}


