img{
    max-width: 100%;
}

body{
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-family: $lato;
    font-weight: 300;
}


h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    
}

.section-title-bodoni{
    font-family: $bodoni;
    font-weight: 400;
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 0.5rem;
}

.news-title{
    font-family: $lato;
    font-weight: 400;
    line-height: 2.4rem;
}

lead-title{
     font-family: $bodoni;
    font-weight: 400;
    font-size: 6rem;
    line-height: 8.4rem;
    letter-spacing: 2rem;
    color: #FFFFFF;
}