


.navbar .navbar-brand img{
    max-width: 196px;
}

header {
    .navbar-toggler{
        outline: none !important;
        box-shadow: none !important;
        span{
            color: $dark;
        }
    }



    .navbar-nav
    {
        background-color: #FFFFF;
        text-align: center;

        a{
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.7rem;
            display: block;
            padding: 10px;
            border-bottom: 1px solid transparent;

            @media(min-width: 768px){
                margin-inline: 20px !important;
            }
            @media(min-width: 992px){
                margin-inline: 36px !important;
            }
        }

        a:hover{
            border-bottom: 1px solid #ECD9D9;
        }

        
        .submenu{
            background-color: #fff;
            display: none;
            @media(min-width: 768px){
                position: absolute;
            }
        }
        
        .nav-item-sub{
            span{
                @media(min-width: 768px){
                display: none;
            }
        }
        }
        
        @media(min-width: 768px){
            .nav-item-sub:hover .submenu{
                display: block;
            }
        }
        
      
        
        span{
            padding: 0px 5px;
        }

    }


}

