/****PAGINATION BLOG PAGE***/

.nav-pagination{
    a{
        border: none;
        font-family: $bodoni;
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-left: 0px !important;
        transition: none;
        color: #1e1e1e;
    }

    a:focus{
        box-shadow: none;
        color:  #1e1e1e;
    }
    a:hover{
        background-color: transparent;
        color:  #1e1e1e;
        transition: none;
    }


}

