

.single-blog{
    padding: 140px 0px;

    
       p{text-align: justify;}
       
       .tags-title{
           font-family: $bodoni-light;
           font-size: 1.6rem;
           line-height: 2.7rem;
           font-weight: 300;
       }
       .tags{
           p{
               font-family: $bodoni-light;
           font-size: 1.6rem;
           line-height: 2.7rem;
           
           a{
               padding: 1rem 2.5rem;
               background-color: #F5F5F5;
               
           }
           
           }
       }
    
    .single-blog-heading{
        
        .heading-content{
            font-size: 2rem;
            line-height: 2.6rem;
        }
    }
    .category-date{
        font-family: $bodoni;
        font-size: 1.4rem;
        line-height: 1.7rem;
        font-weight: 300;
        .category{
            font-weight: 700;
        }
    }

    h1{
        font-family: $lato;
        line-height: 5rem;
        font-size: 4.4rem;
        margin-bottom: 2.6rem;
    }

   

    .single-blog-content{
        max-width: 700px;
        p{
            margin-bottom: 2rem;
        }
    }

    .row{
        margin-bottom: 5rem;
        @media(min-width: 992px){
            margin-bottom: 9rem;
        }
    }
}

